.navbar-btn {
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.navbar-btn.productos-btn {
  background-color: #007bff;
}

.navbar-btn.productos-btn:hover {
  background-color: #0056b3;
}

.navbar-btn.ofertas-btn {
  background-color: #ff4800;
}

.navbar-btn.ofertas-btn:hover {
  background-color: #e64100;
}

.navbar-btn.ofertas-btn.active {
  background-color: #950000;
  box-shadow: 0 0 5px #ff3d00;
}

.navbar-btn.icon-btn {
  background: none;
  font-size: 20px;
  border-radius: 50%;
  padding: 4px 8px;
}
