.image-border {
    z-index: 1;
    border-radius: 15px;
    display: block;
}

.descuento-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.descuento-tip {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ff3d00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: default;
    text-align: center;

}

.agotado-overlay {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.agotado-tip {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    color: black;
    border-radius: 30px;
    padding: 12px 0;
    font-weight: bold;
    font-size: 30px;
}