.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background-color: #111;
  color: white;
  gap: 32px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.navbar-filters {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 16px;
}
