#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}


