#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sale-gif {
  width: 80%;
  max-width: 800px;
  height: auto;
}
